html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}

body {
    text-align: center;
}

img {
    width: 85%;
    margin: 6em auto 8em;
    display: block;
}

#logo {
    width: 15%;
    margin: 7em auto 2em;
}

h1 {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: .8em;
}

span {
    font-weight: 700;
    color: black;
}

input {
    box-sizing: border-box;
    display: block;
    width: 75%;
    padding: .9em 2.5em;
    margin: 3em auto .9em;
    border-radius: 30px;
    font-size: 1.1rem;
    border: 2px solid hsl(223, 100%, 88%);
}

input::placeholder {
    color: hsl(223, 100%, 88%);
}

#error-text {
    font-size: .9rem;
    color: hsl(354, 86%, 67%);
    font-style: italic;
    font-weight: 600;
    display: none;
}

button {
    width: 75%;
    padding: .8em 2.5em;
    border-radius: 30px;
    font-size: 1.1rem;
    border: none;
    background-color: hsl(223, 87%, 63%);
    color: white;
    box-shadow: 0px 5px 10px hsl(223, 82%, 81%);
}

i {
    border: 1px solid hsl(0, 12%, 89%);
    border-radius: 50%;
    padding: .4em .6em;
    margin: .5em;
    font-size: 1.5rem;
    color: hsl(223, 87%, 63%);
}

.fa-twitter {
    padding: .6em;
    font-size: 1.2rem;
}

.fa-instagram {
    font-weight: 700;
    padding: .4em .5em;
}

#copyright {
    font-size: .85rem;
    color: hsl(0, 0%, 59%);
    margin: 2em auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 3em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
    #container {
        width: 55%;
        margin: auto;
    }

    input,
    button {
        display: inline-block;
    }
    #input-div {
        display: grid;
        grid-template-columns: 60% 35%;
        grid-template-rows: 50% 45%;
        justify-items: center;
        align-items: baseline;
    }
    input {
        margin-left: 3.5em;
        width: 90%;
        grid-column: 1;
        grid-row: 1;
    }
    #error-text {
        grid-column: 1;
        grid-row: 2/3;
        margin-top: 2em;
    }
    button {
        width: 80%;
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 1em 0;
    }
}